<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:cardview="http://schemas.android.com/apk/res-auto"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content">
    <android.support.v7.widget.CardView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_gravity="center_horizontal"
        cardview:cardElevation="4dp"
        cardview:cardCornerRadius="10dp"
        cardview:cardUseCompatPadding="true">
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="vertical"
            android:padding="8dp">
            <ImageView
                android:layout_width="100dp"
                android:layout_height="100dp"
                android:id="@+id/card_imageView"
                android:layout_alignParentRight="true"
                android:scaleType="centerCrop" />
            <TextView
                android:layout_width="0dp"
                android:layout_height="60dp"
                android:layout_alignParentLeft="true"
                android:layout_toLeftOf="@+id/card_imageView"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:id="@+id/card_captionView"
                android:layout_gravity="center_horizontal" />
            <TextView
                android:layout_width="0dp"
                android:layout_height="40dp"
                android:layout_below="@+id/card_captionView"
                android:layout_toLeftOf="@+id/card_imageView"
                android:id="@+id/card_ratingView"
                android:layout_gravity="center_horizontal" />
        </RelativeLayout>
    </android.support.v7.widget.CardView>
</FrameLayout>